/* EDIT THESE STYLES */

h1 {
  width:66%;
  font-size:12vw;
  margin:0;
}

h2 {
  width:33%;
  font-size:3vw;
  transform:rotate(90deg);
}

p {
  width:33.33%;
  font-size:16px;
}

p#name-1 {
  position:absolute;
  top:0;
}

p#name-2 {
  position:absolute;
  bottom:0;
}

p#name-3 {
  position:absolute;
  bottom:0;
  right:0;
}

@keyframes build{
  from {
    transform:scale(0);
  }
  to {
    transform:scale(1);
  }
}

svg ellipse {
  animation-name: build;
  animation-duration: 3s;
  animation-fill-mode: both;
  transform-origin:center;
  }


svg ellipse:nth-child(3n+1) {
  animation-delay:.5s;
}

svg ellipse:nth-child(3n+2) {
  animation-delay:1s;
}

























/* LEAVE THESE ALONE */



body {
  overflow:hidden;
  margin:0;
}

.poster-text {
  font-family:sans-serif;
  display:flex;
  flex-wrap:wrap;
  position:absolute;
  align-items:center;
  justify-content:left;
  align-content:center;
  width:100%;
  height:100%;
  padding:2em;
  box-sizing:border-box;
}

.poster-illustration{
  position:absolute;
  z-index:-1;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%)
    
}




